{% extends "_layouts/cp" %}
{% set selectedSubnavItem = 'imhomedia-publishpdf-yumpu' %}

{% set title = 'Yumpu' %}

{% block content %}
    <h2>Error Yumpu Token</h2>
    <p>Please switch to the Settings page and check your Yumpu token</p>
{% endblock %}