{% extends "_layouts/cp" %}
{% set selectedSubnavItem = 'abmat-publishpdf-dashboard' %}
{% set title = 'Publish PDF - Overview' %}

{% block content %}
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    <br /><br />
    Some information on the plugin ...
    <ul>
        <li>How to: settings</li>
        <li>How to: twig</li>
    </ul>
{% endblock %}